body {
    background: rgb(178, 178, 178);
}


.responded {
    /*background-color: pink;*/
    font-weight:  bold;
    border: 1px;
    border-color: #000000;
}

#svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
}

.svg {
    margin: 0 auto;
    display: block;
}

.fixation {
    display: flex;
    align-items: center;
    height: 190px;
    justify-content: center;
    font-size: 30px;
}

.verbalStim {
    display: flex;
    align-items: center;
    height: 190px;
    justify-content: center;
    font-size: 30px;
}

.foo {
    height: 150px;
    width: 150px;
    position: relative;
}

.A1 {
    fill: rgb(255, 139, 0);
}

.A2 {
    fill: rgb(226, 124, 0);
}

.B1 {
    fill: rgb(175, 96, 0);
}

.B2 {
    fill: rgb(127, 69, 0);
}



.prompt {}