
#sketchpad {
    border: 1px solid #eee;
    cursor: crosshair;
}


section {
    padding: 0.1rem 0;
}

.text-center {
    text-align: center;
}

@media (min-width: 550px) {
    section:first-child {
        margin-top: 2rem;
    }
}

input {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
